html {
    background-color: #444444;
}

.customNavbar {
    background-color: #232323;
}
.actions{
    color: white;
}

.popover {
    background-color: #232323;
}
.popover-body button {
    color: white;
}

.popover-body > *:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.modal-content {
    background-color: #232323;
    color: white;
}
.input-group-text {
    background-color: #444444;
    color: white;
}
.form-control,  .form-control:focus{
    background-color: #444444 ;
    color: white;
} 

.form-control::placeholder {
    color: white;
}

.btn-close {
    color: white;
}
