body{
  --primarary-color: #0a28a9;
}

.customNavbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: solid 1px black;
}

.actions{
  font-size: 25px;
}

.actionItem:hover{
  color: var(--primarary-color);
}

.header{
  color: var(--primarary-color);
}

#adminLoginLabel{
  font-weight: bold;
}
#adminLoginLabel span{
  font-weight: normal;
}