.popover-arrow {
    visibility: hidden;
}

.popover-body {
    padding: 5px 0;
}

.popover {
    transform: unset !important;
    inset: 55px 12px auto auto !important;
}

.popover-body div {
    padding: 5px 10px;
    cursor: pointer;
    height: 31px;
}

.popover-body div:hover {
    background-color: rgb(230, 230, 230);
}

.popover-body div:last-child:active {
    background-color: lightgray;
}

.form-switch {
    position: relative;
    left: 10px;
    padding: 0 !important;
}